<ActionBar title="">
    <DockLayout width="auto" height="auto" stretchLastChild="false">
        <Img src="~/fonts/5ef7abae7570fd1c70f4a92af72f66d6.gif" dock="left" width="60">
        <Img src="res://logosplus" dock="right" width="80">
    </DockLayout>
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" *ngIf="canGoBack" (tap)="onGoBack()">
    </NavigationButton>
</ActionBar>

<GridLayout id="compotencyBackground">

    <ActivityIndicator [busy]="spinner"></ActivityIndicator>

    <FlexboxLayout flexDirection="column" justifyContent="space-around" alignItems="stretch" *ngIf="!spinner" width="100%" height="100%">

        <StackLayout height="20%" orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle" width="100%">
            <label class="textWhite" horizontalAlignment="stretch" width="30%" text="Se está valuando a:"></label>
            <StackLayout style="margin-top: 5; " width="70%" orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle">
                <Image width="50%" id="imagePrs" src="{{peopleEvaluatedImg}}"></Image>
                <FlexboxLayout style="margin-left: 5;" width="50%" flexDirection="column">
                    <label textWrap="true" id="textHeaderApe" text="{{peopleEvaluated?.apellidosPrs}}"></label>
                    <label textWrap="true" id="textHeaderNom" text="{{peopleEvaluated?.nombresPrs}}"></label>
                    <label textWrap="true" id="textHeaderPuesto" text="Puesto: {{peopleEvaluated?.puesto.descPue}}"></label>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>


        <StackLayout height="70%">
            <ActivityIndicator [busy]="loadCompetencia" style="margin-top: 20;"></ActivityIndicator>

            <WrapLayout *ngIf="!loadCompetencia" style="margin-top: 25;" orientation="horizontal" width="100%" height="100%">
                <StackLayout width="50%" *ngFor="let competencia of competencias, let i = index">
                    <StackLayout style="margin: 8 0;">
                        <StackLayout id="cajaCompetencia">
                            <label textWrap="true" style="margin: 20 0;" textAlignment="center" text="{{competencia?.descCom}}"></label>
                        </StackLayout>
                        <StackLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle">
                            <StackLayout *ngFor="let star of stars, let j = index">
                                <Image #starB (tap)="colorStar(star,i)" src="font://&#xf005;" class="fas" style="height: 22; margin: 0 3" tintColor="{{ competencias[i].stars[j+1] }}"></Image>
                            </StackLayout>
                            <Label *ngIf="competencias[i].numberStar" style="color: white; font-size: 15; margin: 0 5;" text="{{ competencias[i].numberStar }}"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </WrapLayout>
        </StackLayout>

        <Button height="10%" id="btnEnviar" text="Enviar" (tap)="onEnviar()"></Button>

    </FlexboxLayout>

</GridLayout>