ActionBar {
    background-color: #32383e;
    color: white;
}

#profileFondo {
    background-color: #32383e;
    color: white;
}


#average {
    background-color: #ffc000;
    color: black;
    text-align: center;
    margin: 0 5;
    border-radius: 6;
    font-size: 17;
    font-weight: bold;
}

.textProfile  {
    margin-top: 5;
    font-size: 18;
    font-weight: bold;
}

TextView {
    background-color: white;
    color: black;
    border-radius: 10;
    height: auto;
    padding: 10;
    margin-top: 8;
}

.btnProfile {
    color: black;
    background-color: #ffc000;
    font-size: 15;
    font-weight: bold;
}