<ActionBar title="">
    <DockLayout width="auto" height="auto" stretchLastChild="false">
        <Img src="~/fonts/5ef7abae7570fd1c70f4a92af72f66d6.gif" dock="left" width="60">
        <Img src="res://logosplus" dock="right" width="80">
    </DockLayout>
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" *ngIf="canGoBack" (tap)="onGoBack()">
    </NavigationButton>
</ActionBar>

<GridLayout id="profileFondo">
    <ActivityIndicator [busy]="spinner"></ActivityIndicator>
    <FlexboxLayout flexDirection="column" justifyContent="space-around" alignItems="stretch" *ngIf="!spinner">
        <label class="textProfile" textAlignment="center" text="Hola {{ peopleProfile.apellidosPrs }} {{peopleProfile.nombresPrs}}"></label>
        <StackLayout style="margin-top: -15;" width="100%" orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle">
            <label class="textProfile" style="font-size: 22;" textAlignment="center" text=" Bienvenid@ a "></label>

            <label class="textProfile" style="color: #ffc000; font-size: 22;" text=" TU PERFIL">
            </label>
        </StackLayout>

        <StackLayout width="100%" orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle" style="margin-top: 25">
            <label horizontalAlignment="stretch" width="40%" text="Promedio General" style="text-align: center; font-size: 13;"></label>
            <label horizontalAlignment="stretch" width="5%"> </label>

            <label horizontalAlignment="stretch" width="40%" text="Promedio Personal" style="text-align: center; font-size: 13;"></label>
            <Image width="5%" src="font://&#xf00e;" class="fas fa-search-plus" style="height: 23; color: #ffc000; margin-left: -13"></Image>
        </StackLayout>

        <StackLayout width="100%" orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle" style="margin-top: 10">
            <label horizontalAlignment="stretch" width="40%" text="{{promPeople.promLiderados}}" id="average"></label>
            <label horizontalAlignment="stretch" width="5%"> </label>
            <label horizontalAlignment="stretch" width="40%" text="{{promPeople.promUser}}" id="average"></label>
        </StackLayout>

        <label style="margin-top: 35; margin-left: 10" text="Podés consultar aquí los comentarios recibidos:"></label>

        <StackLayout id="cajaComentarios" height="46%">
            <ListView height="100%" [items]="opiniones" (loadMoreItems)="evento()">
                <ng-template let-country="item" let-i="index" let-odd="odd" let-even="even">
                    <label textWrap="true" text="{{opiniones[i]?.fechaOpi}} {{opiniones[i]?.comentarioOpi}}">
                    </label>
                </ng-template>
            </ListView>
        </StackLayout>

        <StackLayout width="100%" orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle">
            <Button width="40%" horizontalAlignment="stretch" class="btnProfile" text="Plan de Acción" (tap)="getPlanDeAccion()"></Button>
            <label horizontalAlignment="stretch" width="5%"> </label>

            <Button width="40%" horizontalAlignment="stretch" class="btnProfile" text="Plan Canje" (tap)="getPlanCanje()"></Button>
        </StackLayout>
    </FlexboxLayout>
</GridLayout>