#BtnLogin {
  background: #ff9933;
  color: black;
  border-radius: 5;
  font-size: 15;
  width: 300;
  height: 40;
  margin-top: 30;
}

.inputLogin {
  width: 250;
  color: white;
}

.text {
  color: red;
  font-size: 12;
  margin-left: 40;
  margin-bottom: 20;
}

.form {
  margin-top: 200;
  width: 300;
}

ActionBar {
  background-color: #32383e;
  font-size: 12;
  color: #ffc000;
  text-align: center;
}

.fondo {
  background-color: #32383e;
}

.titleForm {
  margin-bottom: -10;
  color: white;
}

.textInfor {
  margin-top: 130;
  color: white;
  font-size: 12;
  text-align: center;
}
