<ActionBar class="titleHeader" title="Le damos la bienvenida a"> </ActionBar>

<GridLayout class="fondo">
  <ActivityIndicator [busy]="spinner"></ActivityIndicator>

  <FlexboxLayout *ngIf="!spinner" flexDirection="column">
    <Image src="res://logosplus"></Image>
    <label
      class="textInfor"
      text="Para ingresar al sistema complete la siguiente información"
    >
    </label>
  </FlexboxLayout>

  <FlexboxLayout
    flexDirection="column"
    *ngIf="!spinner"
    class="form"
  >
    <label class="titleForm" text="Usuario "> </label>
    <TextField
      class="inputLogin"
      (textChange)="onText($event)"
      secure="false"
      maxLength="10"
    >
    </TextField>

    <label
      class="text"
      text="Campo Requerido"
      *ngIf="validUser"
    >
    </label>
    <label class="titleForm" text="Contraseña "> </label>
    <TextField
      class="inputLogin"
      (textChange)="onTextChange($event)"
      secure="true"
      autocorrect="false"
      maxLength="10"
    >
    </TextField>

    <label
      class="text"
      text="Campo Requerido"
      *ngIf="validPas"
    >
    </label>
    <Button id="BtnLogin" text="Ingresar" (tap)="getIn()"></Button>
  </FlexboxLayout>
</GridLayout>
