#btnSerch {
  background-color: #ffc000;
  width: 80;
  height: 45;
  border-radius: 5;
  color: black;
}

ActionBar {
  background-color: #32383e;
  color: white;
}

.fas {
  color: tomato;
}

ListView {
  margin-top: 30;
}

#btnEdit {
  background-color: green;
  border-radius: 20;
  width: 40;
  margin-left: 10;
}

Image {
  width: 20;
  height: 25;
}

#headerMenu {
  margin-left: 35;
}

.titleTable {
    font-weight: bold;
}

.home {
    margin-top: 60;
}

.notFilter {
    color: red;
    font-weight: bold;
    font-size: 12;
}

.homeFondo {
  background-color: #32383e;
}

TextField {
  color: white;
}

.text {
  color: white;
}