ActionBar {
    background-color: #32383e;
    font-size: 12;
    color: #ffc000;
}

#imagePrs {
    width: 40%;
    height: 40%;
    margin-left: 15;
}

#textHeaderApe {
    margin-top: 30;
    font-size: 17;
    font-weight: bold;
    color: white;
}

#textHeaderNom {
    font-size: 17;
    color: white;
}

#textHeaderPuesto {
    font-size: 12;
    color: white;
}

.textScrollArea {
    margin-top: 10;
    margin-left: 15;
    color: white;
}

#btnSave {
    background-color: #ffc000;
    color: black;
    font-weight: bold;
}

#descripcion {
    background-color: #32383e;
}

TextView {
    background-color: white;
    border-radius: 15;
    padding: 5;
    height: auto;
}

ListPicker {
    background-color: white;
    max-width: 150;
}

#labelContexto {
    margin: 5 15;
    color: black;
}

.textModal {
    color: black;
}

#stackLabelCtx {
    background-color: white;
    border-radius: 10;
    height: 30;
    margin: 5 20;
}

.text {
    color: red;
    font-size: 10;
    margin-left: 40;
    margin-top: -5;
}

.advancedOptions {
    color: white;
    font-size: 14;
    text-align: right;
    margin-right: 14;
}