ActionBar {
    background-color:  #32383e;
    font-size: 12;
    color: #ffc000;
}

#imagePrs {
    width: 40%;
    height: 40%;
}

#textHeaderApe {
    margin-top: 30;
    font-size: 17;
    font-weight: bold;
    color: white;
}

#textHeaderNom {
    font-size: 17;
    color: white;
}

.textScrollArea {
    margin-top: 10;
    margin-left: 15;
    color: white;
}

#btnSave {
    background-color: #ffc000;
    color: black;
    font-weight: bold;
}

#descripcion {
    background-color: #32383e;
}

TextView {
    background-color: white;
    border-radius: 15;
    padding: 5;
}

ListPicker {
    background-color: white;
    max-width: 150;
}

#labelContexto {
    height: 30;
    margin: 0 20;
    background-color: white;
    color: black;
}